<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
<h1>U21 Team</h1>
<h2>Saturday League</h2>
<div class="container">
    <div class="col-md-12">
        <iframe src='http://www.west-of-scotland-21s-football-league.co.uk' style='' width='100%'
            height='800' title='BUCS Football' frameborder='0'>
            <p> Your browser does not support iframes. </p>
        </iframe>
    </div>
</div>
{% endblock %}